.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 12rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.empty_cart__text {
  margin: 0.5rem 2.5rem 2rem;
  font-weight: bold;
  text-align: center;
}

.no-item-scrollHide {
  overflow: hidden;
}

.fadedLoading {
  position: absolute;
  z-index: 5;
  height: 75%;
  width: 100%;
  right: 0.1rem;
}

.fadedLoading + form {
  opacity: 0.4;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0 1.65rem;
}

.payment fieldset {
  border: 0;
  border-radius: 6px;
}

.payment fieldset div {
  border-radius: 5px;
  padding: 0.2rem;
  background-color: #6996f7;
}

.payment {
  text-align: center;
  width: 100%;
}

.payment button:nth-child(2) {
  width: 20%;
  padding: 0.5rem 1rem;
  margin: 0.8rem auto 2rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: #9c3c1c;
  color: white;
}

.payment button:nth-child(2):hover {
  background-color: #5a1a01;
}

.pay-btn {
  letter-spacing: 1px;
}

.payment-btn {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.4rem 1rem;
  border-radius: 25px;
  margin: 1rem auto 0;
}

.payment-btn:hover,
.payment-btn:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.error {
  color: red;
  text-align: center;
  margin: auto;
  font-size: 1.2rem;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}
